In [1]:
import pandas as pd

In [24]:
df = pd.read_csv("../csv/AAPL.csv", index_col="Date")

In [26]:
df.columns = ['시가', '고가', '저가', '종가', '수정종가', '거래량']

In [28]:
df.index.name = "날짜"

In [31]:
# df에서 시가,수정종가 컬럼 데이터만 뽑기
df[["시가","수정종가"]]
df.loc[:,"시가":"수정종가"]
df.iloc[:,1:3]

                    고가          저가
날짜
1980-12-12    0.515625    0.513393
1980-12-15    0.488839    0.486607
1980-12-16    0.453125    0.450893
1980-12-17    0.464286    0.462054
1980-12-18    0.477679    0.475446
...                ...         ...
2019-06-18  200.289993  195.210007
2019-06-19  199.880005  197.309998
2019-06-20  200.610001  198.029999
2019-06-21  200.850006  198.149994
2019-06-24  200.160004  198.169998

[9715 rows x 2 columns]

In [29]:
# query()함수 ; query(조건식) 형태로 사용
# 조건식 한번에 여러개 사용 가능
# df.loc[df["시가"]>=100] 과 동일한 값 반환
df.query("시가>=100")

,시가,고가,저가,종가,수정종가,거래량
날짜,,,,,,
2012-09-19,100.037140,100.570000,99.938568,100.300003,88.242981,81718700.0
2012-09-21,100.344284,100.724289,99.908569,100.012856,87.990341,142897300.0
2014-08-20,100.440002,101.089996,99.949997,100.570000,92.633347,52699000.0
2014-08-21,100.570000,100.940002,100.110001,100.580002,92.642563,33478000.0
2014-08-22,100.290001,101.470001,100.190002,101.320000,93.324173,44184000.0
...,...,...,...,...,...,...
2019-06-18,196.050003,200.289993,195.210007,198.449997,198.449997,26551000.0
2019-06-19,199.679993,199.880005,197.309998,197.869995,197.869995,21124200.0
2019-06-20,200.369995,200.610001,198.029999,199.460007,199.460007,21514000.0
2019-06-21,198.800003,200.850006,198.149994,198.779999,198.779999,47735300.0
2019-06-24,198.539993,200.160004,198.169998,199.169998,199.169998,9025362.0

In [5]:
data = [
    [100,900,800,700],
    [1200,1400,900,800]
]

columns = [
    ["영업이익","영업이익","당기순이익","당기순이익"],
    ["컨센서스","잠정치","컨센서스","잠정치"]
]

df = pd.DataFrame(data,columns=columns)
df

   영업이익       당기순이익
   컨센서스   잠정치  컨센서스  잠정치
0   100   900   800  700
1  1200  1400   900  800

In [6]:
# stack(), unstack()
# stack() -> 컬럼 속성을 인덱스 옆으로 내림
# 컬럼 레벨이 2이상인 경우 level옵션을 통해 몇번째 컬럼 리스트를 내릴지 지정
# unstack()은 반대
df.stack()

        당기순이익  영업이익
0 잠정치     700   900
  컨센서스    800   100
1 잠정치     800  1400
  컨센서스    900  1200

In [7]:
df.stack(level=0)

          잠정치  컨센서스
0 당기순이익   700   800
  영업이익    900   100
1 당기순이익   800   900
  영업이익   1400  1200

## 할로윈 투자 전략
1. 11월1일에 구매 -> 6개월간 유지하다가 4월 말일에 판매
2. 11월 첫날 시가로 구매
3. 4월 마지막날 종가로 판매
4. 수익률 = (3번 과정 - 2번 과정) / 2번 과정
5. AMZN 데이터로 2000년부터 2019년까지 데이터로 백테스팅

In [17]:
df_amzn = pd.read_csv("../csv/AMZN.csv")

df_amzn

,Date,Open,High,Low,Close,Adj Close,Volume
0,1997-05-15,2.437500,2.500000,1.927083,1.958333,1.958333,72156000
1,1997-05-16,1.968750,1.979167,1.708333,1.729167,1.729167,14700000
2,1997-05-19,1.760417,1.770833,1.625000,1.708333,1.708333,6106800
3,1997-05-20,1.729167,1.750000,1.635417,1.635417,1.635417,5467200
4,1997-05-21,1.635417,1.645833,1.375000,1.427083,1.427083,18853200
...,...,...,...,...,...,...,...
5558,2019-06-18,1901.349976,1921.670044,1899.790039,1901.369995,1901.369995,3895700
5559,2019-06-19,1907.839966,1919.579956,1892.469971,1908.790039,1908.790039,2895300
5560,2019-06-20,1933.329956,1935.199951,1905.800049,1918.189941,1918.189941,3217200
5561,2019-06-21,1916.099976,1925.949951,1907.579956,1911.300049,1911.300049,3920300
5562,2019-06-24,1912.660034,1916.859985,1901.329956,1907.953857,1907.953857,1243601

In [38]:
df_amzn["Date"] = pd.to_datetime(df_amzn["Date"],format="%Y-%m-%d")

In [39]:
df_amzn.set_index("Date",inplace=True)

In [50]:
# 시계열로 바꿔서 2000-11형태로 검색 가능
df_amzn.loc["2000-11"].iloc[0]["Open"]

35.8125

In [51]:
df_amzn.loc["2001-04"].iloc[-1]["Adj Close"]

15.78

In [53]:
acc_rtn = 1
df_holloween = pd.DataFrame()

for i in range(2000,2019,1):
    buy_mon = str(i) + "-11"
    sell_mon = str(i+1) + "-04"

    # 구입가,판매가
    buy = df_amzn.loc[buy_mon].iloc[0]["Open"]
    sell = df_amzn.loc[sell_mon].iloc[-1]["Adj Close"]

    # 수익률
    rtn = (sell - buy) / buy + 1
    # 누적수익률
    acc_rtn *= rtn

    print("구매-%s,  판매-%s,  수익률-%s,  누적수익률-%s"%(buy,sell,rtn,acc_rtn))

구매-35.8125,  판매-15.78,  수익률-0.44062827225130896,  누적수익률-0.44062827225130896
구매-7.08,  판매-16.690001,  수익률-2.357344774011299,  누적수익률-1.038712754873251
구매-19.219999,  판매-28.690001,  수익률-1.4927160506095758,  누적수익률-1.5505032011721918
구매-54.799999,  판매-43.599998,  수익률-0.7956204159784748,  누적수익률-1.233612001892576
구매-34.220001,  판매-32.360001,  수익률-0.9456458227455924,  누적수익률-1.1665600364785422
구매-39.970001,  판매-35.209999,  수익률-0.8809106359541997,  누적수익률-1.027635143613067
구매-38.130001,  판매-61.330002,  수익률-1.608444804394314,  누적수익률-1.6528944075574425
구매-87.75,  판매-78.629997,  수익률-0.8960683418803419,  누적수익률-1.4811063510832876
구매-56.349998,  판매-80.519997,  수익률-1.4289263506273773,  누적수익률-2.116391893144473
구매-118.660004,  판매-137.100006,  수익률-1.155402000492095,  누적수익률-2.4452834271643766
구매-164.449997,  판매-195.809998,  수익률-1.1906962698211543,  누적수익률-2.9115898553801114
구매-208.110001,  판매-231.899994,  수익률-1.1143145110070898,  누적수익률-3.244426825951092
구매-234.229996,  판매-253.809998,  수익률-1.0835930595328191,  누적수익률-3.5156383907626974
구매-365.630005,  판매-304.130005,  수익률-0.8317971743046635,  누적수익률-2.924298079313406
구매-306.23999,  판매-421.779999,  수익률-1.3772858306323743,  누적수익률-4.027594309183821
구매-627.130005,  판매-659.590027,  수익률-1.051759637939824,  누적수익률-4.236061132395672
구매-799.0,  판매-924.98999,  수익률-1.157684593241552,  누적수익률-4.904022709003831
구매-1105.400024,  판매-1566.130005,  수익률-1.4167993224143443,  누적수익률-6.948016051221185
구매-1623.530029,  판매-1926.52002,  수익률-1.1866241988678363,  누적수익률-8.244683980501206

In [59]:
# buyandhold 투자전략 사용하는 경우
buy = df_amzn.loc["2000-11"].iloc[0]["Open"]
sell = df_amzn.loc["2019-04"].iloc[-1]["Adj Close"]

rtn *= (sell - buy) / buy + 1

In [55]:
# CAGR(연복리수익률)
# CAGR =  수익률 ** (1/투자기간) - 1 

# 할로윈 CAGR
CAGR = acc_rtn ** (1/20) - 1

# CAGR을 나타낼 때는 백분율로 나타내는 게 일반적
print(CAGR * 100)

11.124213625243007

In [60]:
# buyandhold CAGR
CAGR_bnh = rtn ** (1/20) - 1
print(CAGR_bnh * 100)

23.098455630803883

In [57]:
from datetime import datetime
from dateutil.relativedelta import relativedelta

In [58]:
start = datetime(year=2000,month=11,day=1)
start

datetime.datetime(2000, 11, 1, 0, 0)

In [ ]:
# start에서 다섯 달 후의 날짜 반환
end = start + relativedelta(months=5)

In [ ]:
print(start.strftime("%Y-%m"). end.strftime("%Y-%m"))

In [65]:
def six_month(df, start=2000, end=2019, month=11):
    if "Date" in df.columns:
        df["Date"] = pd.to_datetime(df["Date"],format="%Y-%m-%d")
        df.set_index("Date", inplace=True)

    # 누적수익률 변수 생성 & 1로 초기화
    acc_rtn = 1

    for i in range(start,end):
        _start = datetime(year=i,month=month,day=1)
        _end = _start + relativedelta(months=5)

        buy_mon = _start.strftime("%Y-%m")
        sell_mon = _end.strftime("%Y-%m")

        buy = df.loc[buy_mon].iloc[0]["Open"]
        sell = df.loc[sell_mon].iloc[-1]["Adj Close"]

        rtn = (sell - buy) / buy + 1
        acc_rtn *= rtn


    return acc_rtn

In [62]:
df_appl = pd.read_csv("../csv/AAPL.csv")

six_month(df_appl)

1.122619618972955

In [63]:
df_amzn = pd.read_csv("../csv/AMZN.csv")

six_month(df_amzn)

8.244683980501206

In [66]:
df_amzn = pd.read_csv("../csv/AMZN.csv")

for i in range(1,13):
    print(f"{i}월의 수익",six_month(df_amzn,month=i))

1월의 수익 4.470910943811504
2월의 수익 4.408415564523263
3월의 수익 18.50624959809526
4월의 수익 13.582616833702685
5월의 수익 4.304179383672146
6월의 수익 5.111566986774566
7월의 수익 3.589575312504607
8월의 수익 6.418767529470167
9월의 수익 1.3058661611037958
10월의 수익 1.9960729229032756
11월의 수익 8.244683980501206
12월의 수익 6.23900557812782

In [70]:
import mod_halloween as mh

In [73]:
df_amzn = pd.read_csv("../csv/AMZN.csv")

test = mh.Halloween(df_amzn,2000,2019)

In [74]:
test.accrtn()

8.244683980501206

In [75]:
test.cagr()

11.742834843522832