### mysql, python 연동
1. 라이브러리 설치
2. sql서버 정보 등록
3. sql서버 접속
4. sql쿼리문 이용해 데이터 CRUD작업 실행

In [1]:
!pip install pymysql

Collecting pymysql
  Downloading PyMySQL-1.0.3-py3-none-any.whl (43 kB)
     ---------------------------------------- 0.0/43.7 kB ? eta -:--:--
     --------- ------------------------------ 10.2/43.7 kB ? eta -:--:--
     --------- ------------------------------ 10.2/43.7 kB ? eta -:--:--
     --------- ------------------------------ 10.2/43.7 kB ? eta -:--:--
     --------- ------------------------------ 10.2/43.7 kB ? eta -:--:--
     --------- ------------------------------ 10.2/43.7 kB ? eta -:--:--
     --------- ------------------------------ 10.2/43.7 kB ? eta -:--:--
     --------- ------------------------------ 10.2/43.7 kB ? eta -:--:--
     --------- ------------------------------ 10.2/43.7 kB ? eta -:--:--
     --------- ------------------------------ 10.2/43.7 kB ? eta -:--:--
     --------- ------------------------------ 10.2/43.7 kB ? eta -:--:--
     --------- ------------------------------ 10.2/43.7 kB ? eta -:--:--
     --------- ------------------------------ 10.2/43.7 kB ? eta -:--:--
     --------- ------------------------------ 10.2/43.7 kB ? eta -:--:--
     --------- ------------------------------ 10.2/43.7 kB ? eta -:--:--
     ------------------------------------ -- 41.0/43.7 kB 43.7 kB/s eta 0:00:01
     --------------------------------------- 43.7/43.7 kB 45.6 kB/s eta 0:00:00
Installing collected packages: pymysql
Successfully installed pymysql-1.0.3

In [5]:
import pymysql
import pandas as pd

In [3]:
_db = pymysql.connect(
    user='root',
    password='1234',
    host='localhost',
    db='ubion7',
    port=3306
)

In [4]:
cursor = _db.cursor(pymysql.cursors.DictCursor)

In [8]:
sql = """
    insert into
    user_info 
    values 
    ("test3", "1234", "test3", "01011118888", 2)
"""

cursor.execute(sql)

1

In [11]:
sql = """
    update
    user_info
    set user_name="test1"
    where user_id="test1"
"""

cursor.execute(sql)

1

In [12]:
_db.commit()

In [13]:
sql = """
    select
    *
    from
    user_info
"""

cursor.execute(sql)
result = cursor.fetchall()
df = pd.DataFrame(result)
df

  user_id user_pass user_name   user_phone  user_gender
0   test1      1234     test1  01012345678          1.0
1   test2      1111     test2         None          NaN
2   test3      1234     test3  01011118888          2.0