## 03.31.금

In [ ]:
a=10
b="test"

print(a)
print(b)

print(type(a))
print(type(b))

10
test
<class 'int'>
<class 'str'>

In [4]:
## 숫자 형태의 데이터에 ""로 묶어주면 문자열 데이터로 데이터가 대입됨
c = "10"
print(c)
print(type(c))

10
<class 'str'>

In [6]:
## 산술연산자
x=7
y=3

print(x+y,x-y,x*y,x/y,x%y,x**y, end=" ")

10 4 21 2.3333333333333335 1 343

In [8]:
## 대입연산자
print(x)
x+=1
print(x)

x-=3
print(x)

x*=2
print(x)

x/=3
print(x)

10
11
8
16
5.333333333333333

In [9]:
# 1부터 50까지 합계

result = 0

# case1(for문만)
for i in range(2,50,2):
    result += i

print(result)

600

In [10]:
# 1부터 50까지 합계

result = 0

# case2(for문 + if문)
for i in range(50):
    if i%2==0:
        result += i

print(result)

600

In [14]:
# 주사위 2개를 굴려서 두 주사위의 합계가 5의 배수인 경우를 출력하시오

result=[]

for i in range(1,7):
    for j in range(1,7):
        if (i+j)%5==0:
            result.append((i,j))

print(result)

[(1, 4), (2, 3), (3, 2), (4, 1), (4, 6), (5, 5), (6, 4)]

In [17]:
n=3

for i in range(1,11):
    for j in range(1,11):
        for k in range(1,11):
            if i**n + j**n == k**n:
                print("페르마의 마지막 정리는 틀렸습니다.")
                exit()

print("페르마의 마지막 정리는 옳습니다.")

페르마의 마지막 정리는 옳습니다.

In [19]:
# while문을 사용한 1~10 합계

result=0
i=1

while i<11:
    result+=i
    i+=1

print(result)

55

In [24]:
s=0

for i in range(1,1000):
    s+=i
    if s>=900:
        break

print(i)

42

In [22]:
s=0

while s<=900:
    s+=1

print(i)

42

In [31]:
# 튜플은 삽입or삭제or수정 불가

t1=(1,"string",[1,2,3,4],{1:"Um",2:"jiwoo"})

print(t1)

(1, 'string', [1, 2, 3, 4], {1: 'Um', 2: 'jiwoo'})

In [33]:
arr=[]

for i in range(1,71):
    if i%3==0:
        arr.append(i)
    
print(arr)

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60, 63, 66, 69]

In [35]:
# test_data에서 연령대가 20대인 사람의 이름을 리스트로 출력하시오.

test_data = [
    {
        "name" : "test",
        "age" : 20
    },
    {
       "name": "test2",
        "age" : 30 
    },
    {
        "name": "test3",
        "age": 25
    }
    
]

age_20=[]

for obj in test_data:
    age = obj["age"]
    if age>=20 and age<30:
        age_20.append(obj["name"])

print(age_20)

['test', 'test3']

## 04.03.월

In [3]:
# 일반 함수

def func_1():
    return "Hello"

# 파이썬은 오버로딩 불가
# def func_1(word):
#     return word

print(func_1())

jiwoo

In [4]:
# 함수 매개변수 개수와 호출 인자 개수가 다를 때 -> type error 발생

def func_2(a,b):
    c = a+b
    return c

print(func_2(3,6))
print(func_2(1,2))
print(func_2("Hello","World"))

9
3
HelloWorld

In [6]:
def func_3(a,b):
    c=10
    result=a+b-c
    return result

print(func_3(3,5))

-2

In [ ]:
## 변수 종류
#1.전역변수 -> 어디서든 사용 가능한 변수
#2.지역변수 -> 특정 범위(공간) 내에서만 사용 가능한 변수 ; 클래스나 함수 내에서 만들어짐

In [11]:
#전역변수 x
x=3

#지역변수 a(매개변수도 지역변수의 일종)
#매개변수 디폴트 값 설정 가능
#->매개변수 여러개인 경우 뒤에서부터 설정해줘야(a=10,b-->x / a,b=10-->o)
#매개변수 여러개인 경우 변수명=x로 특정 변수에 대한 특정 값 명시적으로 지정 가능
def func_4(a=10):
    result=a*x
    return result

print(func_4(5), end="원하는 문자로 문장 끝 정하기\n")
print(func_4())

15원하는 문자로 문장 끝 정하기
30

In [14]:
# return문은 함수에서 하나만 존재하는 게 좋음
# def func_5(a,b,c):
#     if c==1:
#         return a+b
#     elif c==2:
#         return a-b
#     else:
#         return "c의 값이 잘못됐습니다."

def func_5(a,b,c):
    if c==1:
        result=a+b
    elif c==2:
        result=a-b
    else:
        result="c의 값이 잘못됐습니다."

    return result
    

print(func_5(3,4,1))

print(func_5(3,4,2))

print(func_5(3,4,3))

7
-1
c의 값이 잘못됐습니다.

In [1]:
##예제
#1.함수생성(매개변수 2개->_min,_max)
#2._min부터 _max까지의 합계 출력하는 함수

# def add_min_max(_min,_max):
#     result=0
#     if _min < _max:
#         for i in range(_min,_max+1):
#             result += i

#     else:
#         for i in range(_min,_max-1,-1):
#             result += i

#     return result

def add_min_max(_min,_max):
    result=0
    s_min=min(_min,_max)
    s_max=max(_min,_max)
    for i in range(s_min,s_max+1):
        result += i

    return result

print(add_min_max(3,10))
print(add_min_max(10,3))

52
52

In [9]:
# *사용해서 여러 값 받기
def func_6(*args):
    print("하나의 매개변수로 여러 값을 받는 방법 *args")
    for i in args:
        print(i)

func_6(1,2,3,4,5)

하나의 매개변수로 여러 값을 받는 방법 *args
1
2
3
4
5

In [11]:
def func_6(x,*args):
    print("단일 매개변수: ",x)
    for i in args:
        print(i)

func_6(10,1,2,3,4,5)

단일 매개변수:  10
1
2
3
4
5

In [14]:
def find_min(*args):
    _min=args[0]
    for i in args:
        if i<_min:
            _min=i
    return _min

find_min(15,3,6,2,8,2)

2

In [58]:
# 평균을 구하는 함수
# 인자 수 가변

def cal_avg(*args):
    d=len(args)
    total=sum(args)
    return total/d

cal_avg(1,2,3,4,5)

3.0

In [68]:
import m1

## 미미한 수정으로 인해 파일 변경이 인식되지 않을 때
## importlib를 가져와 reload()로 인식시켜주기
import importlib
importlib.reload(m1)

In [67]:
m1.calc_avg(1,2,3,4,5)

3.0