In [ ]:
import requests
from bs4 import BeautifulSoup as bs

In [ ]:
# 실제 사이트에서 html정보를 받아와 변수에 저장

data = requests.get("https://finance.naver.com/marketindex/exchangeList.naver").text

In [ ]:
# BeautifulSoup 이용해 데이터 파싱
soup = bs(data,"html.parser")

In [ ]:
# bs.find() -> html안에서 해당 태그의 첫번째 정보를 출력
tbody = soup.find("tbody")
tbody

In [ ]:
# bs.find_all() -> 해당 태그 정보 전체를 리스트 형태로 출력
# 항목의 "\t","\n" 다 지워주기
# soup.find_all("td")[0].get_text().replace("\t","").strip("\n")

td_list = soup.find_all("td")

In [ ]:
# td_list를 이용해 2차원 배열로 새로운 리스트 생성
# step1) "\t","\n" 제거해서 1차원 배열에 담기
td_list_1= []

for i in td_list:
    i = i.get_text().replace("\t","")
    i = i.strip("\n")
    td_list_1.append(i)

td_list_1

In [ ]:
# step2) ['미국 USD','1,315.50', '1,338.52', '1,292.48', '1,328.30', '1,302.70', '1.000']를 하나의 행으로
# 각 나라 데이터 2차원 배열로 표현
# 방법1) 2중for문
td_list_2 = []

for i in range (0,len(td_list_1)//7):
    _row = []
    for j in range(i*7,i*7+7):
        _row.append(td_list_1[j])
    
    td_list_2.append(_row)


td_list_2

In [ ]:
# 방법2) 슬라이싱
td_list_2 = []

for i in range (0,len(td_list_1)//7):
    j = i * 7
    _row =td_list_1[j:j+7]
    
    td_list_2.append(_row)


td_list_2

In [ ]:
# 생성한 배열 데이터프레임으로 만들기
import pandas as pd

In [ ]:
columns = ["통화명","매매기준율","현찰(구매)","현찰(판매)","송금(보낼때)","송금(받을때)","미화환산율"]
data = pd.DataFrame(td_list_2,columns=columns)

In [ ]:
data.to_csv("../csv/naver.csv",index=False)

In [ ]:
import mod_sql

In [ ]:
_db = mod_sql.Database("localhost","root","1234","ubion7",3306)

### 실습
1. DB에 naver table생성
2. 필드는 7개 모두 문자열 타입
3. 통화명 필드는 primary key

In [ ]:
sql = """
    create table naver(
    `통화명` varchar(16) primary key,
    `매매기준율` varchar(16),
    `현찰(구매)` varchar(16),
    `현찰(판매)` varchar(16),
    `송금(보낼때)` varchar(16),
    `송금(받을때)` varchar(16),
    `미화환산율` varchar(16)
    )
    """

_db.sql_query(sql)

#### naver라는 이름으로 생성한 테이블에 데이터 삽입
#### 데이터를 삽입하는 insert문 작성

In [49]:
sql = """
    insert into naver
    values (%s,%s,%s,%s,%s,%s,%s)
"""

for i in td_list_2:
    _db.sql_query(sql,i)

In [48]:
sql = """
    truncate naver
"""

_db.sql_query(sql)

'Query OK'

In [50]:
sql = """
    select
    *
    from naver
"""

_db.sql_query(sql)

              통화명     매매기준율    현찰(구매)    현찰(판매)   송금(보낼때)   송금(받을때)  미화환산율
0   남아프리카 공화국 ZAR     72.58     78.38     66.78     73.45     71.71  0.055
1          네팔 NPR     10.04       N/A       N/A       N/A       N/A  0.008
2        노르웨이 NOK    125.74    128.82    122.66    126.99    124.49  0.095
3        뉴질랜드 NZD    818.45    834.57    802.33    826.63    810.27  0.621
4          대만 TWD     43.20     48.85     38.88       N/A       N/A  0.033
5         덴마크 DKK    194.18    198.93    189.43    196.12    192.24  0.147
6         러시아 RUB     16.16     17.69     13.34     16.72     15.60  0.012
7        루마니아 RON    293.13       N/A       N/A       N/A       N/A  0.222
8         리비아 LYD    276.64       N/A       N/A    279.40    273.88  0.210
9         마카오 MOP    163.00       N/A       N/A       N/A       N/A  0.124
10      말레이시아 MYR    297.60    316.34    275.58       N/A    294.63  0.226
11        멕시코 MXN     73.07     80.37     66.94     73.80     72.34  0.055
12         몽골 MNT      0.38       N/A       N/A       N/A       N/A  0.000
13         미국 USD  1,318.80  1,341.87  1,295.73  1,331.70  1,305.90  1.000
14        미얀마 MMK      0.63       N/A       N/A       N/A       N/A  0.001
15        바레인 BHD  3,497.86  3,721.72  3,218.04  3,532.83  3,462.89  2.652
16      방글라데시 BDT     12.42       N/A       N/A       N/A       N/A  0.009
17    베트남 VND 100      5.61      6.27      4.95      5.66      5.56  0.004
18        브라질 BRL    264.51    291.49    238.06       N/A    261.34  0.201
19       브루나이 BND    989.01  1,028.57    929.67       N/A       N/A  0.750
20    사우디아라비아 SAR    351.61    373.76    327.35    355.12    348.10  0.267
21       스리랑카 LKR      4.11       N/A       N/A       N/A       N/A  0.003
22        스웨덴 SEK    127.80    130.93    124.67    129.07    126.53  0.097
23        스위스 CHF  1,470.48  1,499.44  1,441.52  1,485.18  1,455.78  1.115
24       싱가포르 SGD    989.01  1,008.69    969.33    998.90    979.12  0.750
25     아랍에미리트 AED    359.11    378.86    334.34    362.70    355.52  0.272
26        알제리 DZD      9.72       N/A       N/A       N/A       N/A  0.007
27      에티오피아 ETB     24.21       N/A       N/A       N/A       N/A  0.018
28         영국 GBP  1,637.82  1,670.08  1,605.56  1,654.19  1,621.45  1.242
29         오만 OMR  3,425.28  3,730.12  3,219.77       N/A       N/A  2.597
30        요르단 JOD  1,859.04  2,024.49  1,710.32       N/A       N/A  1.410
31     우즈베키스탄 UZS      0.12       N/A       N/A       N/A       N/A  0.000
32       유럽연합 EUR  1,447.12  1,475.91  1,418.33  1,461.59  1,432.65  1.097
33       이스라엘 ILS    361.56    397.71    332.64       N/A       N/A  0.274
34        이집트 EGP     42.68       N/A       N/A       N/A       N/A  0.032
35         인도 INR     16.06       N/A       N/A       N/A       N/A  0.012
36  인도네시아 IDR 100      8.90      9.79      8.01      8.98      8.82  0.007
37  일본 JPY (100엔)    981.80    998.98    964.62    991.42    972.18  0.745
38         중국 CNY    191.61    201.19    182.03    193.52    189.70  0.145
39         체코 CZK     61.72     66.96     56.17     62.39     61.05  0.047
40         칠레 CLP      1.66      1.82      1.50       N/A       N/A  0.001
41      카자흐스탄 KZT      2.92       N/A       N/A       N/A       N/A  0.002
42        카타르 QAR    361.49       N/A       N/A       N/A       N/A  0.274
43       캄보디아 KHR      0.32       N/A       N/A       N/A       N/A  0.000
44        캐나다 CAD    984.51  1,003.90    965.12    994.35    974.67  0.747
45         케냐 KES      9.77       N/A       N/A       N/A       N/A  0.007
46       콜롬비아 COP      0.29       N/A       N/A       N/A       N/A  0.000
47       쿠웨이트 KWD  4,303.33  4,583.04  3,959.07  4,346.36  4,260.30  3.263
48       탄자니아 TZS      0.56       N/A       N/A       N/A       N/A  0.000
49         태국 THB     38.35     40.26     36.05     38.73     37.97  0.029
50       튀르키예 TRY     67.97       N/A       N/A     68.71     67.23  0.052
51       파키스탄 PKR      4.65       N/A       N/A       N/A       N/A  0.004
52        폴란드 PLN    312.70    337.71    287.69    316.13    309.27  0.237
53         피지 FJD    591.09       N/A       N/A       N/A       N/A  0.448
54        필리핀 PHP     23.52     25.87     21.60     23.75     23.29  0.018
55        헝가리 HUF      3.90      4.26      3.59      3.94      3.86  0.003
56         호주 AUD    887.62    905.10    870.14    896.49    878.75  0.673
57         홍콩 HKD    168.01    171.31    164.71    169.69    166.33  0.127

In [56]:
sql = """
    delete
    from naver2;
"""

_db.sql_query(sql)

'Query OK'

In [58]:
sql = """
    insert into naver2
    (`통화명`,`매매기준율`,`현찰(구매)`,`현찰(판매)`,`송금(보낼때)`,`송금(받을때)`,`미화환산율`)				
    values (%s,%s,%s,%s,%s,%s,%s)
"""

for i in td_list_2:
    _db.sql_query(sql,i)

In [59]:
sql = """
    select
    *
    from naver2
"""

_db.sql_query(sql)

,id,통화명,매매기준율,현찰(판매),현찰(구매),송금(보낼때),송금(받을때),미화환산율
0,59,미국 USD,"1,318.80","1,295.73","1,341.87","1,331.70","1,305.90",1.000
1,60,유럽연합 EUR,"1,447.12","1,418.33","1,475.91","1,461.59","1,432.65",1.097
2,61,일본 JPY (100엔),981.80,964.62,998.98,991.42,972.18,0.745
3,62,중국 CNY,191.61,182.03,201.19,193.52,189.70,0.145
4,63,홍콩 HKD,168.01,164.71,171.31,169.69,166.33,0.127
5,64,대만 TWD,43.20,38.88,48.85,N/A,N/A,0.033
6,65,영국 GBP,"1,637.82","1,605.56","1,670.08","1,654.19","1,621.45",1.242
7,66,오만 OMR,"3,425.28","3,219.77","3,730.12",N/A,N/A,2.597
8,67,캐나다 CAD,984.51,965.12,"1,003.90",994.35,974.67,0.747
9,68,스위스 CHF,"1,470.48","1,441.52","1,499.44","1,485.18","1,455.78",1.115
10,69,스웨덴 SEK,127.80,124.67,130.93,129.07,126.53,0.097
11,70,호주 AUD,887.62,870.14,905.10,896.49,878.75,0.673
12,71,뉴질랜드 NZD,818.45,802.33,834.57,826.63,810.27,0.621
13,72,체코 CZK,61.72,56.17,66.96,62.39,61.05,0.047
14,73,칠레 CLP,1.66,1.50,1.82,N/A,N/A,0.001
15,74,튀르키예 TRY,67.97,N/A,N/A,68.71,67.23,0.052
16,75,몽골 MNT,0.38,N/A,N/A,N/A,N/A,0.000
17,76,이스라엘 ILS,361.56,332.64,397.71,N/A,N/A,0.274
18,77,덴마크 DKK,194.18,189.43,198.93,196.12,192.24,0.147
19,78,노르웨이 NOK,125.74,122.66,128.82,126.99,124.49,0.095
20,79,사우디아라비아 SAR,351.61,327.35,373.76,355.12,348.10,0.267
21,80,쿠웨이트 KWD,"4,303.33","3,959.07","4,583.04","4,346.36","4,260.30",3.263
22,81,바레인 BHD,"3,497.86","3,218.04","3,721.72","3,532.83","3,462.89",2.652
23,82,아랍에미리트 AED,359.11,334.34,378.86,362.70,355.52,0.272
24,83,요르단 JOD,"1,859.04","1,710.32","2,024.49",N/A,N/A,1.410
25,84,이집트 EGP,42.68,N/A,N/A,N/A,N/A,0.032
26,85,태국 THB,38.35,36.05,40.26,38.73,37.97,0.029
27,86,싱가포르 SGD,989.01,969.33,"1,008.69",998.90,979.12,0.750
28,87,말레이시아 MYR,297.60,275.58,316.34,N/A,294.63,0.226
29,88,인도네시아 IDR 100,8.90,8.01,9.79,8.98,8.82,0.007
30,89,카타르 QAR,361.49,N/A,N/A,N/A,N/A,0.274
31,90,카자흐스탄 KZT,2.92,N/A,N/A,N/A,N/A,0.002
32,91,브루나이 BND,989.01,929.67,"1,028.57",N/A,N/A,0.750
33,92,인도 INR,16.06,N/A,N/A,N/A,N/A,0.012
34,93,파키스탄 PKR,4.65,N/A,N/A,N/A,N/A,0.004
35,94,방글라데시 BDT,12.42,N/A,N/A,N/A,N/A,0.009
36,95,필리핀 PHP,23.52,21.60,25.87,23.75,23.29,0.018
37,96,멕시코 MXN,73.07,66.94,80.37,73.80,72.34,0.055
38,97,브라질 BRL,264.51,238.06,291.49,N/A,261.34,0.201
39,98,베트남 VND 100,5.61,4.95,6.27,5.66,5.56,0.004
40,99,남아프리카 공화국 ZAR,72.58,66.78,78.38,73.45,71.71,0.055
41,100,러시아 RUB,16.16,13.34,17.69,16.72,15.60,0.012
42,101,헝가리 HUF,3.90,3.59,4.26,3.94,3.86,0.003
43,102,폴란드 PLN,312.70,287.69,337.71,316.13,309.27,0.237
44,103,스리랑카 LKR,4.11,N/A,N/A,N/A,N/A,0.003
45,104,알제리 DZD,9.72,N/A,N/A,N/A,N/A,0.007
46,105,케냐 KES,9.77,N/A,N/A,N/A,N/A,0.007
47,106,콜롬비아 COP,0.29,N/A,N/A,N/A,N/A,0.000
48,107,탄자니아 TZS,0.56,N/A,N/A,N/A,N/A,0.000
49,108,네팔 NPR,10.04,N/A,N/A,N/A,N/A,0.008
50,109,루마니아 RON,293.13,N/A,N/A,N/A,N/A,0.222
51,110,리비아 LYD,276.64,N/A,N/A,279.40,273.88,0.210
52,111,마카오 MOP,163.00,N/A,N/A,N/A,N/A,0.124
53,112,미얀마 MMK,0.63,N/A,N/A,N/A,N/A,0.001
54,113,에티오피아 ETB,24.21,N/A,N/A,N/A,N/A,0.018
55,114,우즈베키스탄 UZS,0.12,N/A,N/A,N/A,N/A,0.000
56,115,캄보디아 KHR,0.32,N/A,N/A,N/A,N/A,0.000
57,116,피지 FJD,591.09,N/A,N/A,N/A,N/A,0.448