### 볼린저밴드 함수화(3단계로 분리)
1. 첫번째 함수 생성(매개변수;데이터프레임 하나)
    - 결측치, 이상치 제거
    - 컬럼 종가만 두고 삭제
    - 이동 평균선, 상단밴드, 하단밴드 파생변수 생성
2. 두번째 함수 생성(매개변수;데이터프레임 하나)
    - 거래내역 파생변수 생성(값은 "")
    - 볼린저밴드 거래내역 추가
    - 거래내역 출력
3. 세번째 함수 생성(매개변수;데이터프레임 하나)
    - 수익률 계산해 수익률 파생변수 생성(기본 값은 "1")
    - 판매한 날의 수익률 변경
    - 누적 수익률 계산해 새로운 파생변수 생성
    - 최종 누적 수익률 출력

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df = pd.read_csv("../csv/GM.csv", index_col="Date")

In [ ]:
def bollinger_1(df):
    # df = df.loc[~df.isin((np.nan, np.inf, -np.inf)).any(axis="columns")]
    # price_df = df[["Adj Close"]]

    price_df = df.loc[(~df.isin((np.nan, np.inf, -np.inf)).any(axis="columns")),["Adj Close"]]


    price_df["center"] = price_df["Adj Close"].rolling(20).mean()
    price_df["ub"] = price_df["center"] + (2 * price_df["Adj Close"].rolling(20).std())
    price_df["lb"] = price_df["center"] - (2 * price_df["Adj Close"].rolling(20).std())

    return price_df

In [ ]:
df = bollinger_1(df)

In [ ]:
def create_band(df, column_name):
    price_df = df.loc[(~df.isin((np.nan, np.inf, -np.inf)).any(axis="columns")),[column_name]]

    price_df["center"] = price_df[column_name].rolling(20).mean()
    price_df["ub"] = price_df["center"] + (2 * price_df[column_name].rolling(20).std())
    price_df["lb"] = price_df["center"] - (2 * price_df[column_name].rolling(20).std())

    return price_df

In [ ]:
df2 = create_band(df2,"Adj Close")

In [ ]:
def bollinger_2(df):
    df["trade"]=""

    for i in df.index:
        if df.loc[i,"Adj Close"] > df.loc[i,"ub"]:
            if df.shift(1).loc[i,"trade"] == "buy":
                df.loc[i,"trade"] = ""
            else:
                df.loc[i,"trade"] = ""
        
        elif df.loc[i,"Adj Close"] < df.loc[i,"lb"]:
            if df.shift(1).loc[i,"trade"] == "buy":
                df.loc[i,"trade"] = "buy"
            else:
                df.loc[i,"trade"] = "buy"

        else:
            if df.shift(1).loc[i,"trade"] == "buy":
                df.loc[i,"trade"] = "buy"
            else:
                df.loc[i,"trade"] = ""

    print("거래내역\n",df["trade"])

    return df

In [ ]:
df = bollinger_2(df)
df

In [ ]:
df["trade"].value_counts()

In [ ]:
def add_trade(df):
    df["trade"]=""

    column_name = df.columns[0]

    for i in df.index:
        if df.loc[i,column_name] > df.loc[i,"ub"]:
            if df.shift(1).loc[i,"trade"] == "buy":
                df.loc[i,"trade"] = ""
            else:
                df.loc[i,"trade"] = ""
        
        elif df.loc[i,column_name] < df.loc[i,"lb"]:
            if df.shift(1).loc[i,"trade"] == "buy":
                df.loc[i,"trade"] = "buy"
            else:
                df.loc[i,"trade"] = "buy"

        else:
            if df.shift(1).loc[i,"trade"] == "buy":
                df.loc[i,"trade"] = "buy"
            else:
                df.loc[i,"trade"] = ""

    print("거래내역\n",df["trade"])

    return df

In [ ]:
df2 = add_trade(df2)
df2

In [ ]:
df2["trade"].value_counts()

In [ ]:
def bollinger_3(df):
    rtn = 1.0
    acc_rtn = 1.0
    df['return'] = 1
    buy = 0.0
    sell = 0.0

    for i in df.index:
        if (df.shift(1).loc[i, 'trade'] == '') and \
            (df.loc[i, 'trade'] == 'buy'):
            buy = df.loc[i, 'Adj Close']
            print('진입일 :', i, '구매 가격 :', buy)
        elif (df.shift(1).loc[i, 'trade'] == 'buy') and \
            (df.loc[i, 'trade'] == ''):
            sell = df.loc[i, 'Adj Close']
            rtn = (sell - buy) / buy + 1
            df.loc[i, 'return'] = rtn
            print('판매일 :', i, '판매 가격 :', sell, '수익율 :', rtn)

        if df.loc[i, 'trade'] == '':
            buy = 0.0
            sell = 0.0

    for i in df.index:
        _rtn = df.loc[i,"return"]
        acc_rtn *= _rtn
        df.loc[i,"acc_rtn"] = acc_rtn

    print("누적 수익률 : ", acc_rtn)

    return

In [ ]:
result = bollinger_3(df)

In [ ]:
def cal_rtn(df):
    rtn = 1.0
    acc_rtn = 1.0
    df['return'] = 1
    buy = 0.0
    sell = 0.0

    column_name = df.columns[0]

    for i in df.index:
        if (df.shift(1).loc[i, 'trade'] == '') and (df.loc[i, 'trade'] == 'buy'):
            buy = df.loc[i, column_name]
            print('진입일 :', i, '구매 가격 :', buy)
        elif (df.shift(1).loc[i, 'trade'] == 'buy') and (df.loc[i, 'trade'] == ''):
            sell = df.loc[i, 'Adj Close']
            rtn = (sell - buy) / buy + 1
            df.loc[i, 'return'] = rtn
            print('판매일 :', i, '판매 가격 :', sell, '수익율 :', rtn)

        if df.loc[i, 'trade'] == '':
            buy = 0.0
            sell = 0.0

    for i in df.index:
        _rtn = df.loc[i,"return"]
        acc_rtn *= _rtn
        df.loc[i,"acc_rtn"] = acc_rtn

    print("누적 수익률 : ", acc_rtn)

    return df

In [ ]:
res = cal_rtn(df2)

In [139]:
import bollinger as bg
import imp

imp.reload(bg)

In [140]:
df = pd.read_csv("../csv/MSFT.csv", index_col="Date")

In [141]:
df = bg.create_band(df,"Adj Close","20100101","20190101")

In [142]:
df = bg.add_trade(df)

거래내역
 Date
2010-01-04
2010-01-05
2010-01-06
2010-01-07
2010-01-08
             ...
2018-12-24    buy
2018-12-26    buy
2018-12-27    buy
2018-12-28    buy
2018-12-31    buy
Name: trade, Length: 2264, dtype: object

In [143]:
df = bg.cal_rtn(df)

진입일 : 2010-05-06 00:00:00 구매 가격 : 23.07136
판매일 : 2010-09-13 00:00:00 판매 가격 : 20.187721 수익율 : 0.875012179602763
진입일 : 2010-11-23 00:00:00 구매 가격 : 20.319853
판매일 : 2011-01-06 00:00:00 판매 가격 : 23.312819 수익율 : 1.1472926994107686
진입일 : 2011-03-16 00:00:00 구매 가격 : 20.171436
판매일 : 2011-04-06 00:00:00 판매 가격 : 21.278055 수익율 : 1.0548606950937949
진입일 : 2011-05-16 00:00:00 구매 가격 : 19.992422
판매일 : 2011-06-27 00:00:00 판매 가격 : 20.639456 수익율 : 1.032363962705469
진입일 : 2011-08-04 00:00:00 구매 가격 : 21.245531
판매일 : 2011-08-31 00:00:00 판매 가격 : 21.923595 수익율 : 1.0319156061573607
진입일 : 2011-11-01 00:00:00 구매 가격 : 21.420837
판매일 : 2012-01-03 00:00:00 판매 가격 : 22.229851 수익율 : 1.037767618510892
진입일 : 2012-04-04 00:00:00 구매 가격 : 26.087456
판매일 : 2012-06-19 00:00:00 판매 가격 : 25.829544 수익율 : 0.9901135626256542
진입일 : 2012-07-12 00:00:00 구매 가격 : 24.087934
판매일 : 2012-09-06 00:00:00 판매 가격 : 26.551155 수익율 : 1.1022595379080664
진입일 : 2012-09-28 00:00:00 구매 가격 : 25.204538
판매일 : 2013-01-25 00:00:00 판매 가격 : 23.806347 수익율 : 0.9445262198418396
진입일 : 2013-06-20 00:00:00 구매 가격 : 29.035603
판매일 : 2013-07-11 00:00:00 판매 가격 : 30.942978 수익율 : 1.0656909036812496
진입일 : 2013-07-19 00:00:00 구매 가격 : 27.223581
판매일 : 2013-08-23 00:00:00 판매 가격 : 30.340303 수익율 : 1.11448611407882
진입일 : 2014-01-08 00:00:00 구매 가격 : 31.458933
판매일 : 2014-01-31 00:00:00 판매 가격 : 33.288746 수익율 : 1.0581651323012133
진입일 : 2014-10-10 00:00:00 구매 가격 : 39.545464
판매일 : 2015-04-23 00:00:00 판매 가격 : 39.450024 수익율 : 0.9975865752896462
진입일 : 2015-06-08 00:00:00 구매 가격 : 41.896034
판매일 : 2015-10-02 00:00:00 판매 가격 : 42.024754 수익율 : 1.0030723671839679
진입일 : 2016-01-07 00:00:00 구매 가격 : 48.435574
판매일 : 2016-03-16 00:00:00 판매 가격 : 50.821819 수익율 : 1.04926637186131
진입일 : 2016-04-22 00:00:00 구매 가격 : 48.418652
판매일 : 2016-05-25 00:00:00 판매 가격 : 49.077465 수익율 : 1.0136065952435023
진입일 : 2016-06-27 00:00:00 구매 가격 : 45.602867
판매일 : 2016-07-12 00:00:00 판매 가격 : 50.103844 수익율 : 1.0986994304546684
진입일 : 2016-09-09 00:00:00 구매 가격 : 53.258598
판매일 : 2016-10-21 00:00:00 판매 가격 : 56.527447 수익율 : 1.0613769254684475
진입일 : 2017-08-10 00:00:00 구매 가격 : 68.923355
판매일 : 2017-08-30 00:00:00 판매 가격 : 71.813408 수익율 : 1.0419314033682776
진입일 : 2017-12-04 00:00:00 구매 가격 : 79.068665
판매일 : 2017-12-15 00:00:00 판매 가격 : 84.695534 수익율 : 1.0711643354545066
진입일 : 2018-02-08 00:00:00 구매 가격 : 82.901184
판매일 : 2018-04-17 00:00:00 판매 가격 : 94.126915 수익율 : 1.135410985203782
진입일 : 2018-06-27 00:00:00 구매 가격 : 95.981407
판매일 : 2018-07-12 00:00:00 판매 가격 : 102.525146 수익율 : 1.068177152268668
진입일 : 2018-10-10 00:00:00 구매 가격 : 104.865669
누적 수익률 :  2.5478920600997546

In [189]:
import bollinger2 as bg2
import imp

imp.reload(bg2)

data = pd.read_csv("../csv/AAPL.csv", index_col="Date")

In [190]:
a =bg2.Invest(data,"Adj Close")

In [191]:
a.col

'Adj Close'

In [192]:
a.create_band("20100101","20150101")

             Adj Close      center          ub         lb
Date
2010-01-04   26.782711         NaN         NaN        NaN
2010-01-05   26.829010         NaN         NaN        NaN
2010-01-06   26.402260         NaN         NaN        NaN
2010-01-07   26.353460         NaN         NaN        NaN
2010-01-08   26.528664         NaN         NaN        NaN
...                ...         ...         ...        ...
2014-12-24  103.617920  104.542070  110.388364  98.695775
2014-12-26  105.449570  104.310338  109.569622  99.051054
2014-12-29  105.375557  104.078143  108.639948  99.516339
2014-12-30  104.089706  103.960196  108.383827  99.536566
2014-12-31  102.110046  103.763618  108.147038  99.380197

[1258 rows x 4 columns]

In [193]:
a.add_trade()

거래내역
 Date
2010-01-04
2010-01-05
2010-01-06
2010-01-07
2010-01-08
             ...
2014-12-24    buy
2014-12-26    buy
2014-12-29    buy
2014-12-30    buy
2014-12-31    buy
Name: trade, Length: 1258, dtype: object

             Adj Close      center          ub         lb trade
Date
2010-01-04   26.782711         NaN         NaN        NaN
2010-01-05   26.829010         NaN         NaN        NaN
2010-01-06   26.402260         NaN         NaN        NaN
2010-01-07   26.353460         NaN         NaN        NaN
2010-01-08   26.528664         NaN         NaN        NaN
...                ...         ...         ...        ...   ...
2014-12-24  103.617920  104.542070  110.388364  98.695775   buy
2014-12-26  105.449570  104.310338  109.569622  99.051054   buy
2014-12-29  105.375557  104.078143  108.639948  99.516339   buy
2014-12-30  104.089706  103.960196  108.383827  99.536566   buy
2014-12-31  102.110046  103.763618  108.147038  99.380197   buy

[1258 rows x 5 columns]

In [194]:
a.cal_rtn()

진입일 : 2010-08-24 00:00:00 구매 가격 : 30.026524
판매일 : 2010-09-08 00:00:00 판매 가격 : 32.90366 수익율 : 1.0958198158401553
진입일 : 2011-03-16 00:00:00 구매 가격 : 41.299767
판매일 : 2011-07-01 00:00:00 판매 가격 : 42.957966 수익율 : 1.040150323366231
진입일 : 2011-11-14 00:00:00 구매 가격 : 47.463268
판매일 : 2011-12-27 00:00:00 판매 가격 : 50.876015 수익율 : 1.0719029081604747
진입일 : 2012-04-16 00:00:00 구매 가격 : 72.601524
판매일 : 2012-06-18 00:00:00 판매 가격 : 73.308609 수익율 : 1.0097392583659814
진입일 : 2012-10-08 00:00:00 구매 가격 : 80.207954
판매일 : 2013-07-29 00:00:00 판매 가격 : 57.243137 수익율 : 0.7136840443530077
진입일 : 2013-09-11 00:00:00 구매 가격 : 60.184383
판매일 : 2013-10-18 00:00:00 판매 가격 : 65.48336 수익율 : 1.0880457144505413
진입일 : 2014-01-03 00:00:00 구매 가격 : 70.019096
판매일 : 2014-03-25 00:00:00 판매 가격 : 70.960335 수익율 : 1.0134426042861222
진입일 : 2014-10-15 00:00:00 구매 가격 : 89.842468
판매일 : 2014-10-23 00:00:00 판매 가격 : 96.557182 수익율 : 1.0747387527243797
진입일 : 2014-12-12 00:00:00 구매 가격 : 101.508751
누적 수익률 :  1.0434103630482257